.card {
    margin: auto;
    width: 350px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
}

.card-body {
    padding: 15px;
}

.card-footer {
    padding: 10px;
}

form {
    width:100%;
}

.main-container {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    background: #00baba;
    color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.btn-login {
    width: 100%;
    font-size: 16px;
    padding: 10px 0px;
}

.btn-register {
    width: 100%;
    font-size: 16px;
    padding: 10px 0px;
}
