body {
    background: whitesmoke;
}

main {
    margin-top: 60px;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background: #00baba;
    margin: 0;
    height: 60px;
}

.navbar > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar > .container > .navbar-collapse {
    margin-left: auto;
}

.navbar-brand {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: 800;
}

.content {
    margin-top: 100px;
}

.box-container {
    margin: 30px 60px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}

.box {
    width: 100%;
}

.box-header {
    padding: 10px 15px;
    box-sizing: border-box;
    background: #00baba;
    color: white;
    width: 100%;
}

.box-header > h4 {
    font-weight: normal;
    margin: 0;
}

.box-content {
    width: 100%;
    background: white;
    padding: 10px 20px;
    box-sizing: border-box;
}

.box-footer {
    background: white;
    padding: 10px 20px;
    box-sizing: border-box;
}

.btn {
    padding: 5px 10px;
    border-radius: 3px;
    background: rgb(0, 142, 142);
    color: white;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    background:  rgb(0, 110, 110);
}

.btn:active {
    background:  rgb(0, 85, 85);
}

.btn-link {
    background: none;
    text-decoration: blue;
    color: black;
}

.btn-link:hover{
    background: none;
}

.btn-link:active {
    background: none;
}

.default-input {
    height: 40px;
    width: 100%;
    margin: 20px 0px;
    font-size: 16px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
    box-sizing: border-box;
}

.default-input:focus {
    box-shadow: 0px 0px 2px 2px #00baba;
}

.inline-input {
    display: inline-block;
    margin: 5px 5px;
    width: auto;
}
.domain-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
.domain-input {
    width: 80%;
}
.domain-lable {
    display: inline-block;
    color: #777;
    margin: 10px;
}

.ml-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}

.ml-auto > li {
    padding: 10px;
}

.ml-auto > li > a {
    text-decoration: none;
    color: white;
}

.save-domain {
    text-decoration: none;
}

.box-container > .domains-table {
    width: 100%;
}

.domains-table > tbody > tr:nth-child(even) {
    background: #ddd;
}

.domains-table > tbody > tr > td {
    padding: 5px 10px;
    text-align: center;
}

.domains-table > thead {
    padding: 10px 15px;
    box-sizing: border-box;
    background: #00baba;
    color: white;
    width: 100%;
}

.domains-table > thead > tr > th {
    padding: 5px 10px;
}

.domains-table > thead > tr > th:nth-child(3) {
    width: 60px;
}
.domains-table > thead > tr > th:nth-child(4) {
    width: 100px;
}

.verified {
    color: green;
    font-size: 10px;
}

.not-verified {
    color: red;
    font-size: 10px;
}

.page-header {
    padding: 0px 30px;
}

.success-status {
    color: green;
    font-weight: 800;
}
